

# ---------------------------------------------------------------------------#
#
#       files
#
# ---------------------------------------------------------------------------#


.DS_Store
.tags
.classpath
.project
todo.txt


# ---------------------------------------------------------------------------#
#
#       extensions
#
# ---------------------------------------------------------------------------#


*.swp
*.sublime-project
*.egg-info
*.pyc


# ---------------------------------------------------------------------------#
#
#       build
#
# ---------------------------------------------------------------------------#


src/build
.cache
.temp


# ---------------------------------------------------------------------------#
#
#       node
#
# ---------------------------------------------------------------------------#


/node_modules
npm-debug.log
